{{ define "main" }}
<style>
    .post-list {
        list-style: none;
        padding: 0;
        padding-top: 0px; 
        margin: 0;
    }

    .post-item {
        margin: 0;
        padding: 8px 0; /* 這裡決定每一行的間距 */
        border-bottom: 0px solid rgba(155, 139, 180, 0.05);
        transition: all 0.3s cubic-bezier(0.4, 0, 0.2, 1);
        white-space: nowrap;
        display: flex;
        align-items: center; /* 讓內容在每一行內垂直居中 */
        overflow: hidden;
    }
    
    .post-header {
        display: flex;
        align-items: center; /* 這裡改為 center 避免 baseline 造成的視覺不一 */
    }

    .post-link {
        font-family: "Noto Serif TC", "Noto Serif JP", serif;
        text-decoration: none !important;
        color: #333;
        font-weight: 500;
        font-size: 1.04rem;
        letter-spacing: 0.05em;
        transition: color 0.3s;
        
        /* 防止標題太長換行 */
        overflow: hidden;
        text-overflow: ellipsis;
    }

    .post-summary {
        display: block; 
        opacity: 0;
        visibility: hidden; /* 防止滑鼠點到隱藏的摘要 */
        margin-left: 14px;
        
        transition: opacity 0.4s ease, visibility 0.4s ease; 
        
        color: #aaa;
        font-size: 0.85rem;
    }

    .post-item:hover .post-link {
        color: #5d5461 !important; /* 稍微變色代表 hover */
    }

    .post-item:hover .post-summary {
        opacity: 1;
        visibility: visible;
    }
</style>

<main>
    <h1>{{ .Title }}</h1>

    <ul class="post-list">
        {{ range .Pages }}
        <li class="post-item">
            <div class="post-header">
                <span style="flex: 0 0 110px; color: #bbb; font-family: monospace; font-size: 0.9rem;">
                    {{ .Date.Format "2006.01.02" }}
                </span>
                <a href="{{ .Permalink }}" class="post-link">
        {{ .Title }}{{ if .Draft }} (𖡎){{ end }}
                </a>
            </div>
            
{{/* 只有當手動寫了 description 時，才顯示整個 summary 區塊 */}}
            {{ if .Description }}
            <div class="post-summary">
                <div class="summary-text">
                    {{ .Description | plainify | truncate 50 "..." }}
                </div>
            </div>
            {{ end }}
        </li>
        {{ end }}
    </ul>
</main>
{{ end }}