{{ define "main" }}
<article>
  <header>
    <h1 class="post-title">{{ .Title }}</h1>
    
    <div class="post-date">
    {{ if .Lastmod }}
    {{ .Lastmod.Format "2006-01-02" }}
  {{ else }}
    {{ .Date.Format "2006-01-02" }}
  {{ end }}
    </div>
  </header>

  <div class="post-content">
    {{ .Content }}
  </div>


  {{ if .Params.tags }}
  <footer style="margin-top: 50px;">
    <div class="post-tags">
      {{ range .Params.tags }}
      <a href="{{ "tags/" | relURL }}{{ . | urlize }}">#{{ . }}</a>
      {{ end }}
    </div>
  </footer>
  {{ end }}
</article>
{{ end }}